<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% block title %}Folio{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/folio.css">
  <link rel="stylesheet" type="text/css" href="/pygments.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Folio's Folio</h1>
      <h2>static website generator</h2>
    </div>
    <div class="content clearfix">
      <div class="main">
        <div class="inner">
{% block body %}{% endblock %}
        </div>
      </div>
      <div class="sidebar">
        <h4>Meet Folio</h4>
        <ul>
          <li>
            <a href="/"{% if current == 'about' %} class="active"{% endif %}>About</a>
          </li>
          <li>
            <a href="http://pythonhosted.org/Folio/">Documentation</a>
          </li>
          <li>
            <a href="/download.html"{% if current == 'download' %} class="active"{% endif %}>Download
              <small>Current version: <b>{{ version }}</b></small>
            </a>
          </li>
          <li>
            <a href="/community.html"{% if current == 'community' %} class="active"{% endif %}>Community</a>
          </li>
        </ul>

        <h4>Donations</h4>
        <p>Use Folio? Consider donating to support it.</p>
        <p>
          <a href="http://flattr.com/thing/1156468/Folio">
            <img src="http://api.flattr.com/button/flattr-badge-large.png">
          </a>
        </p>
      </div>
    </div>
  </div>
  <a href="https://github.com/guide42/folio"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>